<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<nav th:fragment="navbar-contoh">-->
<!--    <ul>-->
<!--        <li><a th:href="@{/auth/home}">Home</a></li>-->
<!--        <li><a href="#">Language ▼</a>-->
<!--            <ul class="dropdown">-->
<!--                <li><a href="">HTML</a></li>-->
<!--                <li><a href="">CSS</a></li>-->
<!--                <li><a href="">JavaScript</a></li>-->
<!--                <li><a href="">PHP</a></li>-->
<!--            </ul>-->
<!--        </li>-->
<!--    </ul>-->
<!--</nav>-->


<!--</html>-->