<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<div th:replace="~{fragment/filter-data::filter-data-master}"></div>
<div th:replace="~{fragment/table-data::table-master}"></div>
<div th:replace="~{fragment/pagination-data::paging-data}"></div>
<div th:if="${pesan != null}" class="error-box error-danger" >
    <p style="text-align: center;color: green;font-weight: bolder;font-size: 2.5rem" th:utext="${pesan}" />
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    // function funcModalsDataMasterHandler(event)
    function funcModalsDataMasterHandler(idComp,descComp,idVal,descVal)
    {
        // console.log(idComp+'--'+descComp+'--'+idVal+'--'+descVal+'--')
        $(idComp).val(idVal);
        $(descComp).val(descVal);
        $('#dataTable').modal('hide');
    }

    $('#sizeChange').on("change", function (){
        callDataMaster();
    });


    /*]]>*/
</script>

<!--</html>-->