<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<table>
    <thead>
    <tr>
        <th:block th:each="headerName : ${listKolom}">
            <th th:text="${headerName}"></th>
        </th:block>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="entry:${listContent}">
        <tr>
            <th:block th:each="f:${listHelper}" >
                <td th:text="${entry.get(f)}"></td>
            </th:block>
            <td style="text-align: center">
                <button type="button"
                        th:onclick="funcModalsDataMasterHandler('#'+[[${idComp}]],'#'+[[${descComp}]],[[${entry.get('id')}]],[[${entry.get('nama')}]])"
                        class="btn btn-primary">
                    Pilih
                </button>
            </td>
    </th:block>
    </tr>
    </th:block>

    </tbody>
</table>
<script th:inline="javascript">
    /*<![CDATA[*/
    // function funcModalsDataMasterHandler(event)
    function funcModalsDataMasterHandler(idComp,descComp,idVal,descVal)
    {
        // console.log(idComp+'--'+descComp+'--'+idVal+'--'+descVal+'--')
        $(idComp).val(idVal);
        $(descComp).val(descVal);
        $('#dataTable').modal('hide');
    }

    /*]]>*/
</script>

</html>