<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/mdb.min.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragment/navbar::navheader}"></div>
<!--<div th:replace="fragment/navbar-contoh::navbar-contoh"></div>-->
<p><h1>INI HALAMAN HOME</h1></p>
<!--<img src="https://res.cloudinary.com/dt4ldbmza/image/upload/v1728145401/norilisa.jpg.png" alt="HTML5 Icon" style="width:128px;height:128px;">-->
<img th:if="${URL_IMG!=null}" th:src="${URL_IMG}" alt="HTML5 Icon" style="width:128px;height:128px;">
<img th:unless="${URL_IMG!=null}" src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="HTML5 Icon" style="width:128px;height:128px;">

<form
        id="uploadForm"
        method="post"
        th:action="@{/user/files/upload/{id}(id=${USR_NAME})}"
        enctype="multipart/form-data">
    <input id="input-file" type="file" name="file" />
    <button class="btn btn-sm btn-outline-success float-right" type="submit">
        Upload
    </button>
</form>
<div th:replace="~{fragment/footer::ftr}"></div>
</body>
</html>